.jumbotron{
  color: #black;
  background-color: pink;
  height: auto;
}

.content-text {
  color: black;
  background-color: pink;
  height: 500px;
  padding: 0 0 0 0;
  width: 100%;
  margin-bottom: 5px;
}
